# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# JavaScript and JSX files
[*.js]
indent_style = space
indent_size = 2
max_line_length = 80
trim_trailing_whitespace = true

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = true

# TypeScript files
[*.ts, *.tsx]
indent_style = space
indent_size = 2
max_line_length = 80
trim_trailing_whitespace = true

# CSS and SCSS files
[*.css, *.scss]
indent_style = space
indent_size = 2

# Ignore some files
[**.log, **.svg, **.jpg, **.png, **.gif, **.woff, **.woff2, **.eot, **.ttf, **.mp4]
binary = true