// palate color
$dark-gray: #161616;
$medium-gray: #323232;
$red: #f70000;
$white: #fff;

// bacground color
$bacground-color: $dark-gray;
$accent-background-color: $medium-gray;
$accent-red-background-color: $red;

// text color
$text-color-white: $white;

// link color
$text-color: $white;
$activ-text-color: $red;
$hover-text-color: $white;

// borders and shadows color
